a{
    text-decoration: none!important;
}
ul{
    list-style: none;
}
.bg_header{
    height: 882px;
    background-image: url(../img/Galaxy_bg_header.png);
    background-size: cover;
}
.header_content{
    text-align: center;
}
.header_content h1{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: lighter;
    color: #fff;
    margin-top: 170px;
}
.header_content p{
    width: 700px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: lighter;
    color: #d0e7e9;
    margin-bottom: 75px;
}
.play {
    margin-bottom: 263px;
    transition: 0.5s;
}
.play:hover {
    transform: scale(1.2);
}
.header_content button{
    width: 280px;
    height: 70px;
    margin-bottom: 66px;
}
.section_1{
    background-image: url(../img/bg_section_1.png);
    background-repeat: no-repeat;
    background-position: right -15%;
    background-color: #e8b968;
    padding-top: 72px;
}
.section_1 h2{
   font-family: 'Lato', sans-serif;
    font-size: 55px;
    font-weight: lighter;
    color: #fff;
}
.section_1 .row{
    width: 680px;
}
.section_1 p{
   font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    padding-bottom: 27px;
}
.section_1 a{
    width: 280px;
    border: 3px solid #fff;
    text-align: center;
    line-height: 68px;
    display: block;
    margin-bottom: 183px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
.section_2{
    background-image: url(../img/bg_section_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5b6869;
    height: 559px;
}
.section_2 .carousel-inner{
    margin-top: 135px;
    text-align: center;
}
.section_2 .carousel-inner img{
   margin: auto;
}
.section_2 .carousel-indicators{
    top: 320px;
}
.section_2 .carousel-indicators li{
    margin: 0 10px!important;
}
.text_foto{
    margin: auto;
    width: 1060px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 43px;
    color: #fff;
}
.section_3{
    height: 825px;
}
.section_3 img{
    margin-top: 80px;
    position: absolute;
    left:800px;
}
.section_3 h3{
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #9197a8;
}
.section_3 p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #9197a8;
    line-height: 30px;
}
.text_s3{
    width: 520px;
    float: left;
}
.marright{
    margin-right: 130px;
}
.section_3 .row:nth-child(2){
    margin-top: 62px;
}
.section_3 .row:nth-child(3){
    margin-top: 54px;
}
.section_3 .row:nth-child(4){
    margin-top: 70px;
    text-align: center;
}
.rec{
    text-align: center; 
}
.btn_try_demo{
    width: 180px;
    height: 60px;
    background-color: #f69679;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid #fac1ab;
}
.btn_try_demo:hover{
   background-color: #f28564;
}
.section_4{
    padding-top: 99px;
    height: 746px;
    background-color: #f6f6f4;
}
.controls{
   text-align: right;
}
.glyphicon{
    color: #959595;
}
.glyphicon:hover{
    color: #606060;
}
.img_section_4 img{
    float: left;
}
.img_section_4 img:first-child{
    margin-left: 10px;
}
.img_section_4 img:nth-child(2){
    margin-left: 20px;
    margin-right: 40px;
}
.img_section_4 h2{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 45px;
    color: #abbcc3;
}
.img_section_4 p{
    display: block;
    margin-left: 200px;
    font-family: 'Lato', sans-serif;
    font-size: 16px!important;
    color: #abbcc3; 
}
.footer{
    height: 694px;
    background-color: #7accc8;
    padding-top: 75px;
}
.footer_content{
    font-size: 14px;
    color: #fff;
}
.footer_content p{
    width: 402px;
}
.wdth p{
    margin-left: 45px;
    width: 220px; 
}
ul li a{
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    color: #fff;
}
ul li a:hover{
    color: #999;
}
.pic{
    display: block;
    margin-top: 66px;
    text-align: center;
    margin-bottom: 81px; 
}
.design_by{
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
