/*==========  Desktop First Method  ==========*/

@media  screen and (max-width: 1366px) {
.bg_header{
    height: 753px;
    background-image: url(../img/1.jpg);
    background-size: cover;
}
.header_content h1{
    font-family: 'Lato', sans-serif;
    font-size: 51px;
    font-weight: lighter;
    color: #fff;
    margin-top: 144px;
}
.header_content p{
    width: 700px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    color: #d0e7e9;
    margin-bottom: 64px;
}
.header_content img{
    margin-bottom: 224px;
}
.header_content button{
    width: 238px;
    height: 60px;
    margin-bottom: 56px;
}
.section_1{
    background-image: url(../img/bg_section_1_q.png);
    padding-top: 61px;
}
.section_1 .row{
    width: 578px;
}
.section_1 h2{
    font-size: 47px;
}
.section_1 p{
    font-size: 13.5px;
    line-height: 25.5px;
    padding-bottom: 23px;
}
.section_1 a{
    width: 238px;
    line-height: 58px;
    margin-bottom: 156px;
    font-size: 15px;
}
.section_2{
    background-image: url(../img/bg_section_2_q.png);
    height: 511px;
}
.section_2 .carousel-inner{
    margin-top: 115px;
}
.section_2 .carousel-indicators{
    top: 272px;
}
.section_2 .carousel-indicators li{
    margin: 0 9px!important;
}
.text_foto{
    width: 951px;
    font-size: 36px;
}
.section_3{
    height: 701px;
}
.section_3 img{
    left: 674px;
    margin-top: 68px;
}
.section_3 h3{
    font-size: 13px;
}
.section_3 p{
    font-size: 13.6px;
}
.text_s3{
    width: 442px;
    float: left;
}
.marright{
    margin-left: 45px;
    margin-right: 200px;
}
.section_3 .row:nth-child(2){
    margin-top: 53px;
}
.section_3 .row:nth-child(3){
    margin-top: 46px;
}
.section_3 .row:nth-child(4){
    margin-top: 60px;
}
.btn_try_demo{
    height: 51px;
    font-size: 15px;
}
.footer{
    height: 694px;
}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
 
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}